## This python file read contribution files and normalize them into a unique file

In [113]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import sys

In [114]:
absolute_path = os.fspath(Path.cwd().parent)
if absolute_path not in sys.path:
    sys.path.append(absolute_path)

In [115]:
# import data 
df_fantom_votes = pd.read_csv('../data/grants/Fantom/fantom_grant_votes.csv')
df_unicef_votes = pd.read_csv('../data/grants/UNICEF/unicef_grant_votes.csv')
df_gr15_votes = pd.read_csv('../data/grants/GR15/GR15_contributions.csv')
df_fantom_votes['project_round'] = "FANTOM"
df_unicef_votes['project_round'] = "UNICEF"
df_gr15_votes['project_round'] = "GR15"

In [116]:
# import grant data
df_fantom_applications = pd.read_csv('../data/grants/Fantom/fantom_grant_applications.csv')
df_unicef_applications = pd.read_csv('../data/grants/UNICEF/unicef_grant_applications.csv')
df_gr15_applications = pd.read_json('../data/grants/GR15/GR15_grants_applications.json').T
df_fantom_applications['project_round'] = "FANTOM"
df_unicef_applications['project_round'] = "UNICEF"
df_gr15_applications['project_round'] = "GR15"

## DF votes exploration

In [117]:
print(df_fantom_votes.shape)
print(df_unicef_votes.shape)
print(df_gr15_votes.shape)

(139337, 7)
(64180, 7)
(453870, 11)

In [118]:
df_fantom_votes.head(2)

,id,token,amount,source_wallet,destination_wallet,created_at,project_round
0,113dRUPwQJ9tTfeqeMRq2Mn8kfYrNyakTPdEhqFkVSe,FTM,1.0,0x06cd8288dc001024ce0a1cf39caaedc0e2db9c82,0xe126b3e5d052f1f575828f61feba4f4f2603652a,2022-12-24 16:26:49,FANTOM
1,11n4hU8NKy7gr5oBqJ1AeEyBKV7L47JGLpbrskoDBcf,FTM,4.9,0x9be7d88cfd6e4b519cd9720db6de6e6f2c1ca77e,0x7d658841f8ba93299970f6e765c2ce205f1e70dd,2022-12-22 13:09:47,FANTOM

In [119]:
df_fantom_votes.isna().sum()

id                    0
token                 0
amount                0
source_wallet         0
destination_wallet    0
created_at            0
project_round         0
dtype: int64

In [120]:
print(df_fantom_votes.token.unique())

['FTM' 'DAI' 'WFTM' 'BUSD']

In [121]:
df_unicef_votes.head(2)

,id,token,amount,source_wallet,destination_wallet,created_at,project_round
0,11f159yjRryCZgNBebpqaa8FUCpApzNtkW2SBpY9EQL,ETH,0.00100,0xe95ab07a55e8489fe8e81e3281c8b3fd95c7d8af,0xd27e1a1a60ebc1b70f4cae5265092c0f6edc7f9d,2022-12-17 14:37:47,UNICEF
1,121Bu9DQH2XYZRmpc4MBME9u31VbztuffyzZawSHyx5W,ETH,0.00085,0x7d1ef741c40ddffdd4f19549d42fed9a0193f8ea,0x39d77e51c485f1ff65b1b3b42e9f67cda221f597,2022-12-19 18:02:59,UNICEF

In [122]:
df_unicef_votes.isna().sum()

id                    0
token                 0
amount                0
source_wallet         0
destination_wallet    0
created_at            0
project_round         0
dtype: int64

In [123]:
df_unicef_votes.token.unique()

array(['ETH', 'DAI'], dtype=object)

In [124]:
df_gr15_votes.head(2)

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
0,0x76f69dcddd0593b0aff5fd3280c3433ddb68e0d2,12,eth_std,0.064183,0.00005,ETH,0.00005,NaN,2022-09-22 23:59:57.030620+00:00,2022-09-23 00:12:56.621368+00:00,GR15
1,0x76f69dcddd0593b0aff5fd3280c3433ddb68e0d2,6972,eth_std,1.283650,0.00100,ETH,0.00100,NaN,2022-09-22 23:59:55.773190+00:00,2022-09-23 00:12:57.306838+00:00,GR15

In [125]:
df_gr15_votes.isna().sum()

address                           0
grant_id                          0
checkout_type                     7
amount_in_usdt                    0
raw_amount_in_token               0
token                             0
amount_in_token_minus_gas         0
tx_id                        397128
created_on                        0
modified_on                       0
project_round                     0
dtype: int64

In [126]:
#explore checkout_type nan
df_gr15_votes[df_gr15_votes.checkout_type.isna()]

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
155250,BMH7FDFVIXRZ2TD47SNOBYDIX3FSBIEMEYNIMG5SEIEKZ4...,5463,NaN,1.701859,5.000,ALGO,5.000,7UCBSZPNBHCI4MNAKDYZUF3NDYVYYND6C5522Y7SJJAEMJ...,2022-09-20 07:51:29.255929+00:00,2022-10-17 07:08:55.933010+00:00,GR15
194296,0x48EEB331Dd43445f320A22B69D623D661060936f,7174,NaN,1.362249,0.005,BNB,0.005,0x6aa8595f953d4352bfb881f06cd24c039b861867c74d...,2022-09-18 22:23:25.648282+00:00,2022-10-17 07:09:39.596498+00:00,GR15
347722,0x1D19dA85322C5F14201bE546c326E0e6f521B6E6,7174,NaN,1.094703,1.100,BUSD,1.100,0x264301a6263228cb53387715eee3c2d9f4baba3bd47f...,2022-09-12 14:41:47.938790+00:00,2022-10-17 07:15:00.389734+00:00,GR15
415511,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.618998,5.000,ALGO,5.000,Z2BEUJXLH3QTPW2DE4L3JSB3MWWYXJCOLJMFWEDHF6YLC3...,2022-09-10 07:01:12.754252+00:00,2022-10-17 07:17:06.559463+00:00,GR15
420285,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.601518,5.000,ALGO,5.000,EF6JHLPKJNYEDW5LB6HWCGF44MSXTJXEEQNRHBZK3QFGDN...,2022-09-09 19:20:56.063986+00:00,2022-10-17 07:17:31.408176+00:00,GR15
421580,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.596899,5.000,ALGO,5.000,WNEYGXR3Z6JXCN3ZWACYZP5BFNXWJTFFYSEVAETLUGJQQG...,2022-09-09 16:20:31.731115+00:00,2022-10-17 07:17:34.907060+00:00,GR15
443451,0xFFA17Ef7e40430C19ADcb15fA7E20B52C205DEc6,7159,NaN,1.002239,1.000,BUSD,1.000,0x132130a01d6974303cd480abe0f50d9bcfebc53421a6...,2022-09-08 08:15:41.381586+00:00,2022-10-17 07:18:27.043473+00:00,GR15

In [127]:
df_gr15_votes[df_gr15_votes.token == 'ALGO']

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
155250,BMH7FDFVIXRZ2TD47SNOBYDIX3FSBIEMEYNIMG5SEIEKZ4...,5463,NaN,1.701859,5.0,ALGO,5.0,7UCBSZPNBHCI4MNAKDYZUF3NDYVYYND6C5522Y7SJJAEMJ...,2022-09-20 07:51:29.255929+00:00,2022-10-17 07:08:55.933010+00:00,GR15
415511,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.618998,5.0,ALGO,5.0,Z2BEUJXLH3QTPW2DE4L3JSB3MWWYXJCOLJMFWEDHF6YLC3...,2022-09-10 07:01:12.754252+00:00,2022-10-17 07:17:06.559463+00:00,GR15
420285,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.601518,5.0,ALGO,5.0,EF6JHLPKJNYEDW5LB6HWCGF44MSXTJXEEQNRHBZK3QFGDN...,2022-09-09 19:20:56.063986+00:00,2022-10-17 07:17:31.408176+00:00,GR15
421580,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.596899,5.0,ALGO,5.0,WNEYGXR3Z6JXCN3ZWACYZP5BFNXWJTFFYSEVAETLUGJQQG...,2022-09-09 16:20:31.731115+00:00,2022-10-17 07:17:34.907060+00:00,GR15

In [128]:
df_gr15_votes[df_gr15_votes.token == 'BUSD']

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
347722,0x1D19dA85322C5F14201bE546c326E0e6f521B6E6,7174,NaN,1.094703,1.1,BUSD,1.1,0x264301a6263228cb53387715eee3c2d9f4baba3bd47f...,2022-09-12 14:41:47.938790+00:00,2022-10-17 07:15:00.389734+00:00,GR15
443451,0xFFA17Ef7e40430C19ADcb15fA7E20B52C205DEc6,7159,NaN,1.002239,1.0,BUSD,1.0,0x132130a01d6974303cd480abe0f50d9bcfebc53421a6...,2022-09-08 08:15:41.381586+00:00,2022-10-17 07:18:27.043473+00:00,GR15

In [129]:
df_gr15_votes[df_gr15_votes.token == 'BNB']

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
194296,0x48EEB331Dd43445f320A22B69D623D661060936f,7174,NaN,1.362249,0.005,BNB,0.005,0x6aa8595f953d4352bfb881f06cd24c039b861867c74d...,2022-09-18 22:23:25.648282+00:00,2022-10-17 07:09:39.596498+00:00,GR15

Those transactions look to have been performed by mistake or it may be by unexperienced users that have sent a predifined amount of token to that address because someone told them to do so
They have not been through the normal process that is why they don't have checkout_type and therefore they could be attackers
For or analysis we don't remove them to be able to flag those grants as suspect.

In [130]:
df_gr15_votes.token.unique()

array(['ETH', 'MATIC', 'DAI', 'USDC', 'USDT', 'PAN', 'FRAX', 'WETH',
       '1INCH', 'APE', 'sUSD', 'WBTC', 'OUSD', 'LINK', 'UNI', 'ZRX',
       'UBI', 'MANA', 'BAT', 'RAI', 'SUSHI', 'SEED', 'BZZ', 'LPT', 'ALGO',
       'BOBA', 'BADGER', 'BNB', 'BAL', 'STORJ', 'CELO', 'BUSD', 'cUSD',
       'COMP', 'BICO', 'GRT', 'SNX', 'PERP'], dtype=object)

In gr15 the amount of the contribution is provided but it is not in both other data set as it is a relevant information to know the value in USD of the donation we will have to retrieve the exchange rate from flipside crypto for these token and dates

In [131]:
print(df_fantom_votes.created_at.min())
print(df_unicef_votes.created_at.min())
print(df_fantom_votes.created_at.max())
print(df_unicef_votes.created_at.max())

2022-12-12 13:07:49
2022-12-09 09:56:11
2023-01-01 23:59:55
2022-12-21 05:59:23

The exchange rate in USD needs to be retrieved from 2022-12-12 to 2023-01-01 ie the weeks of grant rounds
for the tokens : **ETH FTM**
Stable coin will be considered to have a stable value in USD and WFTM stable to FTM

### Df_applications exploration

In [132]:
df_fantom_applications.isna().sum()

id                                   0
project                              0
status                               0
created_at                           0
updated_at                           0
application_round                    0
wallet_address                       0
last_updated                         0
project_id                           0
title                                0
description                          0
website                              0
github_user                         61
project_github                      65
project_twitter                      7
previous_funding                     0
team_size                            0
live_on_other_chains                 0
project_value                        0
improvements_to_existing_project    73
project_round                        0
dtype: int64

In [133]:
df_unicef_applications.isna().sum()

id                   0
project              0
status               0
created_at           0
updated_at           0
application_round    1
wallet_address       1
last_updated         1
project_id           1
title                1
description          1
website              1
project_github       3
project_twitter      2
github_user          7
project_round        0
dtype: int64

In [134]:
df_unicef_applications[df_unicef_applications['wallet_address'].isna()]

,id,project,status,created_at,updated_at,application_round,wallet_address,last_updated,project_id,title,description,website,project_github,project_twitter,github_user,project_round
9,0xc8fca067d1ecb57b625e640263d153190fe1258c34e8...,0xc8fca067d1ecb57b625e640263d153190fe1258c34e8...,PENDING,2022-12-09 01:18:23,2022-12-09 01:18:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNICEF

In [135]:
df_unicef_applications[df_unicef_applications['wallet_address'].isna()].iloc[0,0]

'0xc8fca067d1ecb57b625e640263d153190fe1258c34e8a4ae85396fe502fd6164-0xdf75054cd67217aee44b4f9e4ebc651c00330938'

0xdf75054cd67217aee44b4f9e4ebc651c00330938

In [136]:
# find the address in df_unicef_votes.destination_wallet.unique() that is not in df_unicef_applications.wallet_address.unique()
for address in df_unicef_votes.destination_wallet.unique():
    if address not in df_unicef_applications.wallet_address.unique():
        print(address)

0x8ddfa84bbf59c0e6dbd05a56e9b9931b64255f08

We deduce that there is a match between that address and the destination wallet and the grant project without wallet_addres and assigned it to thet projecct
Other values could also be updated using on chain data

In [137]:
df_unicef_applications.loc[df_unicef_applications['wallet_address'].isna(), 'wallet_address'] = '0x8ddfa84bbf59c0e6dbd05a56e9b9931b64255f08'

In [138]:
#check if we assigned the value 
df_unicef_applications['wallet_address'].isna().sum()

0

In [139]:
df_gr15_applications.isna().sum()

grant_id         0
active           0
approved         0
address          0
title            0
url              0
description      2
created_on       0
project_round    0
dtype: int64

### Normalize columns before concatenating the data

In [140]:
dict_mapping_ctbt = {
'project_round': 'project_round',
'id': 'ctbt_id',
'grant_id': 'ctbt_id',
'source_wallet':'ctbt_address',
'address':'ctbt_address',
'token':'ctbt_token',
'amount':'ctbt_amount',
'amount_in_token_minus_gas':'ctbt_amount',
'destination_wallet':'project_address',
'created_at':'ctbt_timestamp',
'timestamp':'ctbt_timestamp',
'created_on':'ctbt_timestamp',
'amount_in_usdt':'ctbt_amount_in_usd',
'network':'ctbt_network',
'txn_hash':'ctbt_tx_hash',
'tx_id':'ctbt_tx_hash',
'chain':'ctbt_chain',
'txn_id':'ctbt_txn_id',
'modified_on':'ctbt_modified_on',
'checkout_type ':'ctbt_checkout_type',
'raw_amount_in_token ':'ctbt_raw_amount_in_token'
}

In [141]:
df_gr15_votes.rename(columns=dict_mapping_ctbt, inplace=True)
df_fantom_votes.rename(columns=dict_mapping_ctbt, inplace=True)
df_unicef_votes.rename(columns=dict_mapping_ctbt, inplace=True)

In [142]:
df_gr15_votes.columns

Index(['ctbt_address', 'ctbt_id', 'checkout_type', 'ctbt_amount_in_usd',
       'raw_amount_in_token', 'ctbt_token', 'ctbt_amount', 'ctbt_tx_hash',
       'ctbt_timestamp', 'ctbt_modified_on', 'project_round'],
      dtype='object')

In [143]:
df_fantom_votes.columns

Index(['ctbt_id', 'ctbt_token', 'ctbt_amount', 'ctbt_address',
       'project_address', 'ctbt_timestamp', 'project_round'],
      dtype='object')

In [144]:
df_unicef_votes.columns

Index(['ctbt_id', 'ctbt_token', 'ctbt_amount', 'ctbt_address',
       'project_address', 'ctbt_timestamp', 'project_round'],
      dtype='object')

#### Concatenate contribution data

In [145]:
df_contribution = pd.concat([df_fantom_votes, df_unicef_votes, df_gr15_votes], axis=0)
df_contribution.head(2)

,ctbt_id,ctbt_token,ctbt_amount,ctbt_address,project_address,ctbt_timestamp,project_round,checkout_type,ctbt_amount_in_usd,raw_amount_in_token,ctbt_tx_hash,ctbt_modified_on
0,113dRUPwQJ9tTfeqeMRq2Mn8kfYrNyakTPdEhqFkVSe,FTM,1.0,0x06cd8288dc001024ce0a1cf39caaedc0e2db9c82,0xe126b3e5d052f1f575828f61feba4f4f2603652a,2022-12-24 16:26:49,FANTOM,NaN,NaN,NaN,NaN,NaN
1,11n4hU8NKy7gr5oBqJ1AeEyBKV7L47JGLpbrskoDBcf,FTM,4.9,0x9be7d88cfd6e4b519cd9720db6de6e6f2c1ca77e,0x7d658841f8ba93299970f6e765c2ce205f1e70dd,2022-12-22 13:09:47,FANTOM,NaN,NaN,NaN,NaN,NaN

Use price feed to get amount in usd

In [146]:
from src.main.flipside.FlipsideApi import FlipsideApi

In [147]:
api_key = os.environ['FLIPSIDE_API_KEY']
flipside_api = FlipsideApi(api_key)
sql = flipside_api.get_price_feed_eth_ftm_sql_query()
df_price_feed = flipside_api.execute_query(sql)

In [148]:
df_price_feed.head(2)

         id            recorded_hour         open
0    fantom  2023-01-19 00:00:00.000     0.301338
1  ethereum  2023-01-19 00:00:00.000  1524.770000

In [149]:
df_price_feed['recorded_hour'] = pd.to_datetime(df_price_feed.recorded_hour).dt.round('H')

In [150]:
df_price_feed.replace('ethereum','ETH',inplace=True)
df_price_feed.replace('fantom','FTM', inplace=True)

In [151]:
df_contribution.ctbt_token.unique()

array(['FTM', 'DAI', 'WFTM', 'BUSD', 'ETH', 'MATIC', 'USDC', 'USDT',
       'PAN', 'FRAX', 'WETH', '1INCH', 'APE', 'sUSD', 'WBTC', 'OUSD',
       'LINK', 'UNI', 'ZRX', 'UBI', 'MANA', 'BAT', 'RAI', 'SUSHI', 'SEED',
       'BZZ', 'LPT', 'ALGO', 'BOBA', 'BADGER', 'BNB', 'BAL', 'STORJ',
       'CELO', 'cUSD', 'COMP', 'BICO', 'GRT', 'SNX', 'PERP'], dtype=object)

In [152]:
df_contribution.replace('WFTM', 'FTM', inplace=True)
df_contribution.replace('WETH', 'ETH', inplace=True)

In [154]:
df_contribution.ctbt_token.unique()

array(['FTM', 'DAI', 'BUSD', 'ETH', 'MATIC', 'USDC', 'USDT', 'PAN',
       'FRAX', '1INCH', 'APE', 'sUSD', 'WBTC', 'OUSD', 'LINK', 'UNI',
       'ZRX', 'UBI', 'MANA', 'BAT', 'RAI', 'SUSHI', 'SEED', 'BZZ', 'LPT',
       'ALGO', 'BOBA', 'BADGER', 'BNB', 'BAL', 'STORJ', 'CELO', 'cUSD',
       'COMP', 'BICO', 'GRT', 'SNX', 'PERP'], dtype=object)

In [155]:
index_to_convert = np.logical_and(np.logical_or(df_contribution.ctbt_token == 'FTM', df_contribution.ctbt_token == 'ETH'), df_contribution.ctbt_amount_in_usd.isna())

In [156]:
slice = df_contribution.loc[index_to_convert, ['ctbt_amount', 'ctbt_token', 'ctbt_timestamp']]
slice['recorded_hour'] = pd.to_datetime(slice.ctbt_timestamp).dt.round('H')
slice = slice.merge(df_price_feed, how='left', left_on=['ctbt_token', 'recorded_hour'], right_on=['id', 'recorded_hour'])
slice

,ctbt_amount,ctbt_token,ctbt_timestamp,recorded_hour,id,open
0,1.00000,FTM,2022-12-24 16:26:49,2022-12-24 16:00:00,FTM,0.203939
1,4.90000,FTM,2022-12-22 13:09:47,2022-12-22 13:00:00,FTM,0.203279
2,1.00000,FTM,2022-12-20 19:27:19,2022-12-20 19:00:00,FTM,0.202060
3,0.29000,FTM,2023-01-01 18:47:30,2023-01-01 19:00:00,FTM,0.201094
4,2.84430,FTM,2022-12-17 10:39:55,2022-12-17 11:00:00,FTM,0.207230
...,...,...,...,...,...,...
194051,0.00010,ETH,2022-12-20 13:03:47,2022-12-20 13:00:00,ETH,1213.250000
194052,0.00010,ETH,2022-12-16 21:08:35,2022-12-16 21:00:00,ETH,1205.430000
194053,0.00100,ETH,2022-12-15 12:35:35,2022-12-15 13:00:00,ETH,1289.930000
194054,0.00106,ETH,2022-12-20 15:54:23,2022-12-20 16:00:00,ETH,1220.430000
194055,0.00040,ETH,2022-12-14 14:16:23,2022-12-14 14:00:00,ETH,1333.000000

In [157]:
df_contribution.loc[index_to_convert, 'ctbt_amount_in_usd'] =  slice.ctbt_amount * slice.open

In [158]:
df_contribution[df_contribution.ctbt_amount_in_usd.isna()].ctbt_token.unique()

array(['DAI', 'BUSD'], dtype=object)

In [159]:
df_contribution.loc[np.logical_or(df_contribution.ctbt_token == 'DAI', df_contribution.ctbt_token == 'BUSD'), 'ctbt_amount_in_usd'] = df_contribution.loc[np.logical_or(df_contribution.ctbt_token == 'DAI', df_contribution.ctbt_token == 'BUSD'), 'ctbt_amount']

In [160]:
df_contribution.ctbt_amount_in_usd.isna().sum()

0

#### Export contribution data and unique contributor addresses

In [161]:
df_contribution.to_csv('../data/grants/df_contribution_normalized.csv', index=False)

In [162]:
df_contribution.ctbt_address.nunique()

75079

In [ ]:
pd.DataFrame(df_contribution.ctbt_address.unique(), columns=['address']).to_csv('../data/grants/unique_ctbt_address.csv', index=False)

## Project Data

In [ ]:
dict_mapping_project = {
'id' : 'grant_id',
'grant_id' : 'grant_id',
'project' : 'project_long_id',
'project_id' : 'project_contract_id',
'status' : 'project_status',
'updated_at' : 'project_last_modify',
'last_updated' : 'project_last_update',
'created_on' : 'project_created_at',
'created_at' : 'project_created_at',
'application_round' : 'project_application_round',
'wallet_address' : 'project_address',
'address' : 'project_address',
'title' : 'project_title',
'description' : 'project_decription',
'url' : 'project_website',
'website' : 'project_website',
'github_user' : 'project_github_user',
'project_github' : 'project_github',
'github_project_url' : 'project_github',
'project_twitter' : 'project_twitter',
'twitter_handle_1' : 'project_twitter',
'previous_funding' : 'project_previous_funding',
'team_size' : 'project_team_size',
'live_other_chains' : 'project_live_other_chains',
'project_value' : 'project_value',
'improvements_to_existing_project' : 'project_improvements_to_existing',
'active' : 'project_active_grant',
'amount_received' : 'project_amount_received',
'amount_received_in_round' : 'project_received_in_round',
'contribution_count' : 'project_contribution_count',
'contributor_count' : 'project_contributor_count',
'twitter_handle_2' : 'project_twitter_verified',
'approved' : 'project_approved',
}

In [ ]:
df_gr15_applications.rename(columns=dict_mapping_project, inplace=True)
df_fantom_applications.rename(columns=dict_mapping_project, inplace=True)
df_unicef_applications.rename(columns=dict_mapping_project, inplace=True)
df_gr15_applications.columns

Index(['grant_id', 'project_active_grant', 'project_approved',
       'project_address', 'project_title', 'project_website',
       'project_decription', 'project_created_at', 'project_round'],
      dtype='object')

In [ ]:
df_fantom_applications.columns

Index(['grant_id', 'project_long_id', 'project_status', 'project_created_at',
       'project_last_modify', 'project_application_round', 'project_address',
       'project_last_update', 'project_contract_id', 'project_title',
       'project_decription', 'project_website', 'project_github_user',
       'project_github', 'project_twitter', 'project_previous_funding',
       'project_team_size', 'live_on_other_chains', 'project_value',
       'project_improvements_to_existing', 'project_round'],
      dtype='object')

In [ ]:
df_unicef_applications.columns

Index(['grant_id', 'project_long_id', 'project_status', 'project_created_at',
       'project_last_modify', 'project_application_round', 'project_address',
       'project_last_update', 'project_contract_id', 'project_title',
       'project_decription', 'project_website', 'project_github',
       'project_twitter', 'project_github_user', 'project_round'],
      dtype='object')

we can merge on the wallet_address and destination address the fantom and unicef csv

In [ ]:
df_fantom_applications.index

RangeIndex(start=0, stop=107, step=1)

In [ ]:
print(df_fantom_applications.shape)
df_fantom_applications.columns

(107, 21)

Index(['grant_id', 'project_long_id', 'project_status', 'project_created_at',
       'project_last_modify', 'project_application_round', 'project_address',
       'project_last_update', 'project_contract_id', 'project_title',
       'project_decription', 'project_website', 'project_github_user',
       'project_github', 'project_twitter', 'project_previous_funding',
       'project_team_size', 'live_on_other_chains', 'project_value',
       'project_improvements_to_existing', 'project_round'],
      dtype='object')

In [ ]:
df_application = pd.concat([df_gr15_applications, df_fantom_applications, df_unicef_applications], axis=0)

C:\Users\DELL Admin\AppData\Local\Temp\ipykernel_2972\2449020972.py:1: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_application = pd.concat([df_gr15_applications, df_fantom_applications, df_unicef_applications], axis=0)

In [165]:
df_gr15_applications.columns.append(df_fantom_applications.columns).append(df_unicef_applications.columns).unique()

Index(['grant_id', 'active', 'approved', 'address', 'title', 'url',
       'description', 'created_on', 'project_round', 'id', 'project', 'status',
       'created_at', 'updated_at', 'application_round', 'wallet_address',
       'last_updated', 'project_id', 'website', 'github_user',
       'project_github', 'project_twitter', 'previous_funding', 'team_size',
       'live_on_other_chains', 'project_value',
       'improvements_to_existing_project'],
      dtype='object')

In [ ]:
df_application.shape

(927, 23)

In [ ]:
print(df_unicef_applications.shape)
print(df_fantom_applications.shape)
print(df_gr15_applications.shape)

(12, 16)
(107, 21)
(808, 9)

In [163]:
df_application.head(2)

,grant_id,project_active_grant,project_approved,project_address,project_title,project_website,project_decription,project_created_at,project_round,project_long_id,...,project_last_update,project_contract_id,project_github_user,project_github,project_twitter,project_previous_funding,project_team_size,live_on_other_chains,project_value,project_improvements_to_existing
0,6841,False,False,0xDc4C1D5D42f829dfd4b772d3a678CfB178ee6476,4C Labs,https://gitcoin.co/grants/6841/4c-labs,Project Core:\r\n\t4C hopes to become the Brid...,2022-06-24T03:39:54.292-06:00,GR15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6842,True,True,0xCE41b49d28800De3Ba9925f68D82129dFc4b870B,C# library for accessing NFTs on mobile devices,https://gitcoin.co/grants/6842/c-library-for-a...,This is a lightweight open source C# library t...,2022-06-24T07:41:41.000-06:00,GR15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
df_application.columns

Index(['grant_id', 'project_active_grant', 'project_approved',
       'project_address', 'project_title', 'project_website',
       'project_decription', 'project_created_at', 'project_round',
       'project_long_id', 'project_status', 'project_last_modify',
       'project_application_round', 'project_last_update',
       'project_contract_id', 'project_github_user', 'project_github',
       'project_twitter', 'project_previous_funding', 'project_team_size',
       'live_on_other_chains', 'project_value',
       'project_improvements_to_existing'],
      dtype='object')

In [ ]:
df_application.isna().sum()

grant_id                              0
project_active_grant                119
project_approved                    119
project_address                       0
project_title                         1
project_website                       1
project_decription                    3
project_created_at                    0
project_round                         0
project_long_id                     808
project_status                      808
project_last_modify                 808
project_application_round           809
project_last_update                 809
project_contract_id                 809
project_github_user                 876
project_github                      876
project_twitter                     817
project_previous_funding            820
project_team_size                   820
live_on_other_chains                820
project_value                       820
project_improvements_to_existing    893
dtype: int64

In [ ]:
'amount_received' : 'project_amount_received',
'amount_received_in_round' : 'project_received_in_round',
'contribution_count' : 'project_contribution_count',
'contributor_count' : 'project_contributor_count',

In [ ]:
df_application.to_csv('../data/grants/df_application_normalized.csv', index=False)